# Laboratorio 1

In [45]:
tsfds = "https://github.com/luisontaneda/DVY/blob/master/Tickers.xlsx"

In [47]:
tsfds

'https://github.com/luisontaneda/DVY/blob/master/Tickers.xlsx'

In [31]:
import pandas as pd
import quandl
import matplotlib.pyplot as plt
%matplotlib inline
quandl.ApiConfig.api_key = 'riVhxyiwNtvu-2DbzJsD'

In [32]:
tickers = pd.read_excel("tickers.xlsx",header=None)
tickers = tickers[0].tolist()

In [34]:
data = quandl.get_table('WIKI/PRICES', ticker = tickers, 
                        qopts = { 'columns': ['ticker', 'date', 'adj_close'] }, 
                        date = { 'gte': '2017-03-01', 'lte': '2018-03-01' }, 
                        paginate=True)

In [35]:
data

      ticker       date  adj_close
None
0        XOM 2018-03-01  75.200000
1        XOM 2018-02-28  75.740000
2        XOM 2018-02-27  77.500000
3        XOM 2018-02-26  78.840000
4        XOM 2018-02-23  77.530000
5        XOM 2018-02-22  75.860000
6        XOM 2018-02-21  74.890000
7        XOM 2018-02-20  75.750000
8        XOM 2018-02-16  76.540000
9        XOM 2018-02-15  76.210000
10       XOM 2018-02-14  76.460000
11       XOM 2018-02-13  76.300000
12       XOM 2018-02-12  76.420000
13       XOM 2018-02-09  75.780000
14       XOM 2018-02-08  76.070000
15       XOM 2018-02-07  76.940000
16       XOM 2018-02-06  78.350000
17       XOM 2018-02-05  79.720000
18       XOM 2018-02-02  84.530000
19       XOM 2018-02-01  89.070000
20       XOM 2018-01-31  87.300000
21       XOM 2018-01-30  86.780000
22       XOM 2018-01-29  88.010000
23       XOM 2018-01-26  89.000000
24       XOM 2018-01-25  88.370000
25       XOM 2018-01-24  88.530000
26       XOM 2018-01-23  88.300000
27       XOM 2018-01-22  88.250000
28       XOM 2018-01-19  87.150000
29       XOM 2018-01-18  87.430000
...      ...        ...        ...
24916    AEP 2017-04-11  65.720358
24917    AEP 2017-04-10  65.827633
24918    AEP 2017-04-07  65.652092
24919    AEP 2017-04-06  65.944660
24920    AEP 2017-04-05  66.149457
24921    AEP 2017-04-04  65.622836
24922    AEP 2017-04-03  65.486304
24923    AEP 2017-03-31  65.466800
24924    AEP 2017-03-30  65.496057
24925    AEP 2017-03-29  65.720358
24926    AEP 2017-03-28  66.159209
24927    AEP 2017-03-27  66.012925
24928    AEP 2017-03-24  66.110448
24929    AEP 2017-03-23  65.778872
24930    AEP 2017-03-22  65.769119
24931    AEP 2017-03-21  65.320516
24932    AEP 2017-03-20  64.491576
24933    AEP 2017-03-17  64.823152
24934    AEP 2017-03-16  64.374549
24935    AEP 2017-03-15  65.027949
24936    AEP 2017-03-14  64.159999
24937    AEP 2017-03-13  64.179504
24938    AEP 2017-03-10  63.779662
24939    AEP 2017-03-09  63.233536
24940    AEP 2017-03-08  63.535856
24941    AEP 2017-03-07  64.598850
24942    AEP 2017-03-06  64.706125
24943    AEP 2017-03-03  64.871913
24944    AEP 2017-03-02  64.852409
24945    AEP 2017-03-01  64.481823

[24946 rows x 3 columns]